{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

    {% include 'components/_message_flash.html.twig' %}

        <div class="row d-flex justify-content-center loginForm">
            <div class="block-form col-8">

                {{ form_start(loginForm) }}
                {{ form_row(loginForm.email) }}
                {{ form_row(loginForm.password) }}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="row d-flex justify-content-center">
                    <button class="btn btn-sm btn-primary mx-1 my-2" type="submit" style="  background: #FA7268;">Sign in</button>
                    <a class="btn btn-sm btn-success mx-1 my-2" href="{{path('app_register')}}" style="background: #C62368">Sign up</a>
                </div>

                <div class="row">
                    <a class="col-12 text-center p-0" href="{{path('app_resend_confirmation_email')}}">
                        <small class="text-muted">problème de connexion ?</small>
                    </a>
                </div>

                {{ form_end(loginForm) }}

            </div>

        </div>
{% endblock %}
