{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{% if login_error %}
<div class="alert alert-danger">{{ login_error.messageKey|trans(login_error.messageData, 'security') }}</div>
{% endif %}

{% include 'components/_message_flash.html.twig' %}

<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {{ form_start(loginForm) }}
    {{ form_row(loginForm.email) }}
    {{ form_row(loginForm.password) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    {{ form_end(loginForm) }}

    <a class="btn btn-lg btn-success" href="{{path('app_register')}}">Sign up</a>
    <a href="{{path('app_resend_confirmation_email')}}">Send confirmation</a>
{% endblock %}
